body{
	background:red;
}

.container{
    width : 1000px;
    text-align: center;
    font-family: 'Neucha';
    font-size: 16px;
    border-radius: 10px;
  #  min-height: 400px;
    background: white;
    position: relative;
    z-index: 1;
    padding: 30px;
    margin: 30px auto;
}

.btn-primary{
    background: #062f01;
}

.btn-primary:hover{
    background: #9d0606;
}

.btn-primary:hover:active,
.btn-primary:active,
.btn-primary:focus{
    background-color: #9d0606 !important;
}

.rules{
    margin: auto;
    text-align: left;
    width: 350px;
}

.login-username,
.login-pass{
    width: 300px;
}

.login-pass{
    margin: 0 0 0 70px;
}

.login-form{
display: block;
margin: 100px 0;
}

.registr-form{
text-align: left;
display: block;
}

.private-office-form{
text-align: left;
display: block;
}

.reqistr-real-name,
.reqistr-username,
.reqistr-fav-film,
.reqistr-fav-game,
.reqistr-fav-color,
.reqistr-fav-present,
.registr-pass1,
.registr-pass2{
    width: 400px;
    position: absolute;
    right: 200px;
}
.reqistr-hobbies{
    width: 400px;
    height:100px;
    position: absolute;
    right: 200px;
    resize: none;
}

.reqistr-key-words{
    width: 400px;
    height:100px;
    position: absolute;
    right: 200px;
    resize: none;
    margin: 80px 0 0 0 ;
}

.registr-pass1,
label[for="id_password1"]{
    margin: 80px 0 0 0 ;
}

label[for="id_key_words"]{
margin: 80px 0 0 0 ;
}

.private-office-change-keywords-label,
.private-office-change-btn{
    margin: 85px 0 0 0;
}

.errorlist{
    list-style-type: none;
    color: red;
}

#drawingCanvas {
    position: fixed;
    width: 100%;
    height: 100%;
}


.navbar-default {
  background-color: #062f01;
  border-color: #9d0606;
}
.navbar-default .navbar-brand {
  color: #f0ff00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ea0505;
}
.navbar-default .navbar-text {
  color: #f0ff00;
}
.navbar-default .navbar-nav > li > a {
  color: #f0ff00;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ea0505;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f0ff00;
  background-color: #9d0606;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ea0505;
  background-color: #9d0606;
}
.navbar-default .navbar-toggle {
  border-color: #9d0606;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9d0606;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f0ff00;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f0ff00;
}
.navbar-default .navbar-link {
  color: #f0ff00;
}
.navbar-default .navbar-link:hover {
  color: #ea0505;
}


.canvas_crash {
   # background:blue;
    position: absolute;
    margin: auto;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}


#container-crash {
    position: absolute;
    width: 880px;
    height: 550px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}

#container-crash:not(.no-hover):hover{
    -webkit-box-shadow:0 0 50px blue;
    -moz-box-shadow: 0 0 50px blue;
    box-shadow:0 0 50px blue;
}

img {
    max-width: 950px;
    max-height: 550px;
}


.santafor-descr{
display: inline-block;
    #width: 50%;
    margin: auto;
    text-align: left;
}